__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
venv/
env/
.venv/
*.log
*.tmp
*.bak
*.swp
*.DS_Store
.vscode/
.idea/
*.iml
.env
*.env
config.json
*.key
*.pem
*.pub
*.pem
*.ppk
id_rsa
id_ed25519
jarvis_auto_key
pip-wheel-metadata/
poetry.lock
build/
dist/
*.egg-info/
